@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;

}

body, html{
    width: 100%;
    height: 100%;
}

body{
       background: #f4f4f4;
}

header{
    width: 100%;
    padding: 25px 0.5% 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo{
    color: #fff;
    cursor: pointer;
}

header #logo span{
    font-size: 2em;
    margin-left: 40px;
    line-height: 45px;
    font-family: 'Sono', serif;

}

@media (min-width: 701px){
    #logo
    {
        float: left;
        width: 30%;
        font-size: 1.5em;
    }

    #about{
     float: right;
     width: 67%;
    }
}

@media (max-width: 700px){
    #logo
    {
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }
    #about{
        float:right;
        width: 100%
    }
}

#about{
    text-align: center;
    font-size: 1.6em;
    line-height: 40px;
    margin-bottom: 10px;
    font-family: 'Sono', serif;
}

#about > a{color: #fff}
#about >a:hover{color:#b0b0b0;
text-decoration: underline;
}
#about >a:not(:last-child){
    margin-right: 7%;
}

.fixed{
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo{
    color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

@media (min-width: 1001px)
{
    #top{
        font-size: 3em;
    }
}

@media (max-width: 1000px) and (min-width: 651px){
    #top{
        font-size: 2em;
    }
}

@media (max-width: 650px)
{
    #top{
        font-size: 1.5em;
        padding-top: 50%;
    }
}
#top {
    width: 100%;
    height: 100%;
    background-image: url(https://zastavok.net/main/animals/1528281535.jpg);
    background-blend-mode: multiply;
    background-color: #555555;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

#top h1{
    padding-top: 20%;
}

#top h3{
    color: #ccc;
}

#main{
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
}

@media(min-width: 1401px){
    #main{
        padding: 100px 20%;
        width: 60%;
    }
}
@media(max-width: 1400px){
    #main{
        padding: 100px 10%;
        width: 80%;
    }
}

@media(max-width: 700px){
    #main div{
        width: 98% !important;
    }

}

#main div{
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h2{font-size: 3em}
#main span{color: #a0a0a0; font-size: 1.6em; line-height: 1.6}


#overview{
    float: left;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: #f6f6f6;
    background-attachment: fixed;

    padding: 100px;
    width: 100%;
    text-align: center;
    color: #333333;
}

#overview h2{ font-size: 4em}
#overview h4{ color: #555555; font-size: 1.5em}
#overview .img{
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-top: 50px;
}

#overview img{
    float:left;
    padding: 5px;
    width:60%;
    border: 2px solid #f6f6f6;
}

#overview span{
    float:left;
    width:60%;
    font-size: 2em;
    margin-top: 10px;
   font-family: 'Sono', serif;
}
#overview span > a{color: #4a4a4a; line-height: 1.5}
#overview span >a:hover{color:#00001f;
text-decoration: underline;
}
#overview span >a:not(:last-child){
    margin-right: 7%;
}

#comment{
    width: 40%;
    float: left;
    padding-left: 10%;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid #ccc;
    background: #f4f4f4;
}
form#commentForm {
    width: 40%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    background: #f4f4f4;
}

input{
    height: 30px;
    margin-bottom: 5%;
    width: 100%;
}
#content{
    width: 100%;
    font-size: 16px;
    height: 200px;
}
h1, h2, h3, h4, h5{
    font-family: 'Sono', serif;
    font-weight: lighter;
}

#commentForm h5{font-size: 3em; color: #4f4f4f}


#comment-container{
    width: 40%;
    float: right;
    padding-right: 10%;
    padding-bottom: 40px;
    padding-top: 70px;
    background: #f4f4f4;
}

.card-body{
    position: relative;
    margin: 16px 16px 34px 16px;
    border: 4px solid #337AB7;
    border-radius: 20px;
    padding: 16px 24px;
    text-align: center;
}
.card-text h3{
    font-size: 18px;
}
.card-body:before,
.card-body:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}
.card-body:before {
    left: 30px;
    bottom: -32px;
    border: 16px solid;
    border-color: #337AB7 transparent transparent #337AB7;
}
.card-body:after {
    left: 35px;
    bottom: -21px;
    border: 12px solid;
    border-color:   #f4f4f4 transparent transparent #f4f4f4;
}
.card-text h5 {
    position: absolute;
    bottom: -50px;
    left: 62px;
    font-size: 14px;
    font-weight: bold;
    color: #337AB7;
    float: left;
}

    /* Стили для футера */
#footer {
    margin-top:40%;
    background: #f4f4f4;
    text-align: center;
    font-size: 16px;
    color: #333333;
    width: 100%;
    padding: 25px 0.5% 0.5%;
    }