{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Помощь бездомным</title>
    <link rel="stylesheet" href="{% static 'css/animals.css' %}">
</head>
<body>
<header>
    <div id="logo" onclick="slowScroll('#top')">
    <span>Love and Care</span>
    </div>
    <div id="about">
        <a href="/">Главная страница</a>
        <a href="#" title="Меню" onclick="slowScroll('#top')">Меню</a>
        <a href="/#comment">Обратная связь</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout'  %}">Logout</a>
        {%  else %}
        <a href="{% url 'login' %}"></a>
        {% endif %}
    </div>
</header>
<div id="top">
    <ul id="menu">Меню
        <li><a href="#" onclick="slowScroll('#help')">Как я могу помочь бездомным животным?</a></li>
        <li><a href="#" onclick="slowScroll('#toHome')">Что надо делать, когда решил забрать бездомное животное домой?</a></li>
        <li><a href="#" onclick="slowScroll('#links')">Полезные ссылки для помощи животным.</a></li></ul>
</div>

<div id="main">
       <div class="intro">
        <span> <span style="color: #42804f; font-size: 1.6em; line-height:1.6;">Бездомные животные</span> - это те животные, которые не имеют постоянного места жительства и не имеют хозяина, заботящегося о них. Они вынуждены выживать на улице, поедая мусор, принадлежности, которые люди выбрасывают, и попрошайничая за еду.</span>
    </div>
    <div class="text">
        <span>Такие животные часто подвергаются различным опасностям, таким как голод, болезни, травмы и жестокое обращение со стороны людей. Кроме того, они могут стать необходимостью для многих программ контроля животных, которые могут заключать в себе ликвидацию их популяции.</span>
    </div>

</div>

<div id="help" class="answers">
    <h2>Как я могу помочь бездомным животным?</h2>
    <p>Существует множество способов, как вы можете помочь бездомным животным.</p><p> Одним из самых простых и доступных способов является донат в приюты для животных. Вы можете пожертвовать как деньги, так и предметы первой необходимости, такие как корм, медикаменты и другие вещи.</p><p> Также вы можете стать волонтером в приюте и помогать ухаживать за животными, проводить прогулки и играть с ними, что поможет им чувствовать себя любимыми и заботливыми.</p><p> Если у вас нет возможности пожертвовать деньги или время, вы можете распространять информацию о бездомных животных, делиться постами в социальных сетях, раздавать листовки и т.д. Даже маленький вклад может иметь большое значение для животных, которые нуждаются в помощи и заботе.</p>
</div>

<div id="toHome" class="answers">
    <h2>Что надо делать, когда решил забрать бездомное животное домой?</h2>
    <p>Если вы решили забрать бездомное животное домой, необходимо следовать нескольким важным шагам, чтобы убедиться, что вы предоставите ему лучшие условия.</p>
        <ol>
        <li>Пройдите осмотр у ветеринара. Бездомные животные могут иметь заболевания или травмы, которые могут привести к серьезным последствиям. Обратитесь к ветеринару для тщательного осмотра, прививок и проверки на наличие паразитов.</li>

        <li>Приготовьте домашнюю обстановку. Обеспечьте безопасное и уютное место для животного, где оно может отдыхать, кушать и играть. Помните, что бездомные животные могут быть напуганными и потребуют дополнительного внимания.</li>

        <li>Разберитесь с документами. Обратитесь к местным организациям, которые занимаются приютом животных, для получения информации о необходимых документах и процедурах регистрации.</li>

        <li>Обучите животное. Помните, что бездомные животные могут не иметь определенных навыков, таких как знание правил приличия или дрессировки. Будьте терпеливы и предоставьте им необходимое обучение.</li></ol>

<p>Забрать бездомное животное домой - это важное и ответственное решение. Необходимо уделить время и усилия, чтобы обеспечить животному безопасность и заботу, которая может изменить его жизнь к лучшему.</p>
</div>

<div id="links" class="answers">
    <h2>Полезные ссылки для помощи животным.</h2>
    <ul>
        <li><a href="https://rayfund.ru/">Благотворительный фонд помощи бездомным животным РЭЙ</a></li>
        <li><a href="https://fond-nika.ru/">Благотворительный фонд помощи бездомным животным «НИКА»</a></li>
        <li><a href="https://kotodetki.ru/">Фонд помощи бездомным животным "КОТОДЕТКИ"</a></li>
    </ul>
</div>

  <!-- Футер страницы -->
  <div id="footer">
    <p>© 2023 Love and Care</p>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    function slowScroll(id){
        $('html, body').animate({
            scrollTop: $(id).offset().top
        }, 500);
    }

    $(document).on("scroll", function() {
        if ($(window).scrollTop() == 0)
            $("header").removeClass("fixed");
        else
            $("header").attr("class", "fixed");
    })
</script>


</html>